<h1 class="ui center aligned header">Welcome to Mini Message App - a complete Chat App</h1>

<h4 class="ui center aligned medium icon header">
  <i class="circular orange power off icon"></i>
  Log in to continue.
</h4>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= render "login_form" %>
    </div>
    <div class="middle aligned column">
      <div class="ui big orange button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
